<div class="container" style="margin-top: 10px;">
    <div class="container" style="display: inline;">
        <h2 style="display: inline;">List of Students</h2>
        <input type="text" class="form-control" style="width: 12rem; display: inline; margin-left: 420px;"
            placeholder="Search by Category">
        <button class="btn btn-outline-dark" style="display: inline; margin-left: 10px;">
            Search </button>
        <button class="btn btn-dark" style="margin-left: 10px;" > Add Employee </button>
    </div>
    <!-- <div class="col-sm-3">
        <select class="form-select" [(ngModel)] = "deptNo" (change)="getEmployeeByDeptId()">
            <option value = "0">Department</option>
            <option *ngFor = "let dept of departments"  name="deptNo" [value]="dept.deptNo">{{dept.deptName}}</option>
        </select>
    </div> -->
    <table class="table" style="margin-top: 10px;">
        <thead class="table-dark">
            <tr>
                <th scope="col">Serial No</th>
                <th scope="col">Student Id</th>
                <th scope="col">Student Name</th>
                <th scope="col">Marks Obtained</th>
                <th scope="col">Quiz</th>
                <!-- <th scope="col">Manager Id</th>
                <th scope="col">Salary</th>
                <th scope="col">Commission</th>
                <th scope="col">Departmnet No</th>
                <th scope="col">Action</th> -->
            </tr>
        </thead>
        <tbody class="table-light">
            <tr *ngFor="let score of scoreCards, let i = index">
                <td>{{i+1}}</td>
                <td>{{score.userId}}</td>
                <td>{{getStudentName(score.userId)}}{{student.name}}</td>
                <td>{{score.marksObtained}}</td>
                <td></td>
                <!-- <td>{{emp.commission}}</td>
                <td>{{emp.deptNo}}</td> -->
                <!-- <td>{{emp.empNo}}</td>
                <td>{{emp.eName}}</td>
                <td>{{emp.job}}</td>
                <td>{{emp.hireDate}}</td>
                <td>{{emp.managerId}}</td>
                <td>{{emp.salary}}</td>
                <td>{{emp.commission}}</td>
                <td>{{emp.deptNo}}</td>
                <td>
                    <button type="submit" class="btn btn-outline-secondary btn-sm"
                        (click)="updateEmp(emp.empNo)">Update</button>
                    <button type="submit" class="btn btn-outline-danger btn-sm" style="margin-left: 5px;"
                        (click)="deleteEmp(emp.empNo)">Delete</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>
